ng-sidebar-container {
  height: 100vh;
}
a.r-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
.card {
  margin-top: 1em;
  width: 20em;
}
.card {
  & .list-group {
    color: #6c757d;
  }
  & .card-title {
    color: black;
  }
}
#map {
  height: calc(100vh - 30vh);
}
.location-search {
  position: absolute;
  top: 100%;
  z-index: 1001;
  & .list-group-item {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}
.comment {
  & .align-right {
    text-align: right;
  }
}
.comments{
  margin-top: 10px;
}
